header {
    display: flex;
    align-items: center;
    flex-direction: column;

}
header:hover{
    color: darkorange;
}
header h1{
    font-size: 50px;
}
h1#createH1 {
    font-size: xx-large;
    color: crimson;
}

#quiz{
    text-align: center;  
}
main#quiz{
    font-size: xx-large;
}
body{
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
}
#start {
    border: 3px solid red;
    color: red;
}
div{
    text-align: center;
    
}
div#result{
    padding: 10px;
    font-size: xx-large;
}
h3 {
    text-align: center;
}
ul li {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid;
    margin: 25px;
    background-color: bisque;

}
div#Timer {
    font-size: xx-large;
    font-weight: bolder;
    color: crimson;
    margin: 15px;
    border: none;
}
div#result{
    font-size: xx-large;
}
h4 {
    display: flex;
    float: left;
}
p#createP {
    font-size: xx-large;
    color: coral;
}
